openapi: 3.0.3
info:
  title: Dogtor
  version: 1.0.0

tags:
    - name: Auth
    - name: User
    - name: Pet
    
servers:
  - url: https://api.dogtor.store
    description: Production server
    
paths:
  /auth:
    post:
      summary: Get Token
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
      responses:
        '200':
          description: "Status Ok"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '404':
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404NotFound'
                
                
  /user/register:
    post:
      summary: Register new User
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Register'
      responses:
        '201':
          description: "No Content"
          
          
  /pet:
    get:
      summary: Get all user pets
      tags:
        - Pet
      responses:
        '201':
          description: "No Content"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Pet"
    post:
      summary: Register new Pet
      tags:
        - Pet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
      responses:
        '201':
          description: "No Content"
          
  /pet/{pet_id}:
    get:
      summary: Get some Pet
      tags:
        - Pet
      parameters:
        - in: path
          name: pet_id
          schema:
            type: string
          required: true
          description: UUID of the target pet
      responses:
        '200':
          description: "Pet"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pet"

    put:
      summary: Update some Pet
      tags:
        - Pet
      parameters:
        - in: path
          name: pet_id
          schema:
            type: string
          required: true
          description: UUID of the target pet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
      responses:
        '201':
          description: "No Content"
          
    delete:
      summary: Delete some Pet
      tags:
        - Pet
      parameters:
        - in: path
          name: pet_id
          schema:
            type: string
          required: true
          description: UUID of the target pet
      responses:
        '201':
          description: "No Content"

security:
  - bearerAuth: [] 

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Login:
      type: object
      properties:
        email: 
          type: string
          example: "email@example.com"
        password:
          type: string
          example: "Password#01"
          
    Register:
      type: object
      properties:
        fullName:
          type: string
          example: "Name Example"
        birthDate:
          type: string
          example: "2023-01-01"
        cpf:
          type: string
          example: "01234567890"
        address:
          type: object
          properties:
            zipCode:
              type: number
              example: 01001000
            country:
              type: string
              example: "Brazil"
            city:
              type: string
              example: "Sao Paulo"
            streetName:
              type: string
              example: "Praça da Sé"
            number:
              type: number
              example: 50
            additionalInfo:
              type: string
              example: "Marco zero de Sao Paulo"
            
        email: 
          type: string
          example: "email@example.com"
        phoneNumber:
          type: string
          example: "(11) 91234-5678"
        password:
          type: string
          example: "Password#01"
          
    TokenResponse:      
      type: object
      properties:
        token:
          type: string
        expires_at:
          type: string
          example: "2023-01-01 00:00:00"

  #-----------------entities-------------------#
    User:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        fullName:
          type: string
          example: "Name Example"
        hashCpf:
          type: string
          example: "7ed10e4a589c87f9e6a85c22e4b0c38ecf5f5059"
        email:
          type: string
          example: "email@example.com"
        birthDate:
          type: string
          example: "YYYY-MM-DDTHH:mm:ss.sssZ"
        address:
          type: object
          properties:
            schema:
              $ref: "#/components/schemas/404NotFound"
        cardInfo:
          type: object
          properties:
            schema:
              $ref: "#/components/schemas/404NotFound"
      
    Address:
      type: object
      properties:
        zipCode:
          type: number
          example: "01001-000"
        country:
          type: string
          example: "Brazil"
        city:
          type: string
          example: "Sao Paulo"
        streetName:
          type: string
          example: "Praça da Sé"
        number:
          type: number
          example: "50"
        additionalInfo:
          type: string
          example: "Marco Zero de Sao Paulo"
      
    CardInfo:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        hashCpf:
          type: string
          example: "7ed10e4a589c87f9e6a85c22e4b0c38ecf5f5059"
        cardNumber:
          type: string
          example: "1234 5678 9012 3456"
        cardExpireDate:
          type: string
          example: "01/30"
        cardFlag:
          type: string
          example: "Mastercard"
    
    BankInfo:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        document:
          type: string
          example: "01234567890"
        bankNumber:
          type: string
          example: "0260"
        agency:
          type: string
          example: "012345"
        agencyDigit:
          type: string
          example: "6"
        accountNumber:
          type: string
          example: "012345"
        accountNumberDigit:
          type: string
          example: "6"

    Payment:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    Pet:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    Species:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    Races:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    Company:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    CompanyBranch:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    Doctor:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    Services:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    DoctorServices:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    Availability:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    Appointment:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
    Notification:
      type: object
      properties:
        uuid:
          type: string
          example: "8857fc83-9b59-11ed-be3f-0242ac110002"
        
        
  #-----------------responses-------------------#
    404NotFound:
      type: object
      properties:
        error:
          type: string
          